<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert New User</title>
</head>
<body>
<div align="center">
    <h1>New User Form</h1>
    <br/>
    <form th:object="${user}" th:action="@{/admin/saveUser}" method="post">
        <table border="1">
            <tr>
                <td>Employee Firstname</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Employee Lastname</td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Insert</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>